/* CSS Document */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('kepek/space.jpg') no-repeat center center fixed;
  background-size: cover;
  text-align: center;
}
a:link {
  color: rgb(30,144,255);
  text-decoration: none;
}
a:hover {
  color: rgb(0,191,255);
  text-decoration: underline;
}
a:visited {
  color: rgb(139,69,19);
}
h1 {
  color: rgb(20,30,30);
  font-family: Georgia;
  font-size: 2rem;
  word-spacing: .55rem;
  letter-spacing: .25rem;
  padding-top: .75rem;
  text-shadow: 0 0 .75rem rgb(30,144,255), 0 0 1rem rgb(30,144,255);
}
h2 {
  color: rgb(43,64,64);
  font-family: Georgia;
  font-size: 1.16rem;
  word-spacing: .25rem;
  letter-spacing: .075rem;
  padding-top: .75rem;
  text-shadow: 0 0 .1rem rgb(30,144,255), 0 0 .5rem rgba(43,64,64,.75)
}
li {
  display: inline;
  font-weight: bold;
  line-height: 2rem;
}
header {
  border-bottom: .05rem solid rgb(149,191,191);
  width: 90%;
  margin: 0 auto;
  padding: .25rem .25rem 1.25rem .25rem;
  color: rgb(20,30,30);
  font-family: serif;
  font-size: 1rem;
}
header p {
  padding-top: .55rem;
}
section {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 1rem;
}
section p {
  color: rgb(20,30,30);
  font-family: serif;
  font-size: .925rem;
  padding: .55rem 0;
}
section li {
  padding: 1.25rem;
}
footer {
  width: 80%;
  margin: 0 auto;
  border-top: .05rem solid rgb(149,191,191);
  font-size: .85rem;
  color: rgb(119,136,153);
  font-family: serif;
  padding: .25rem;
}
.profilkep {
  width: 7.75rem;
  height: 7.75rem;
  border-radius: 1.56rem;
  padding: .15rem;
  background-color: rgb(47,79,79);
  border: 0;
  transition: all 0.75s ease-in-out;
  margin-top: -4.05rem;
}
.profilkep:hover {
  transform: scale(1.1);
  background-color: rgb(0,191,255);
}
.tartalomp {
  color: rgb(20,30,30);
  font-family: serif;
  text-indent: 1rem;
  line-height: 1.25rem;
  font-size: 1rem;
  text-align: justify;
  padding: .55rem 0 .55rem 0;
}
main {
  width: 90%;
  margin: 0 auto;
  border-bottom: .05rem solid rgb(149,191,191);
}
main li {
  padding: 1.25rem .75rem;
}
#profillap {
  width: 40.75rem;
  max-width: calc(100vw - 3.125rem);
  background-color: rgba(250,240,230,.75);
  border-radius: 1.56rem;
  box-shadow:  0 0 3.5rem .35rem rgb(0,0,0);
  border: .15rem solid rgb(47,79,79);
  margin-top: 18rem;
  margin-bottom: 1.25rem;
}
#mail {
  font-size: 1.16rem;
  color: rgb(20,30,30);
  font-family: serif;
  padding-bottom: 1.5rem;
}
#maili {
  padding-right: 1rem;
}